/* Navbar Styling */
nav {
    font-size: 1.3rem;
    position: fixed;
    z-index: 1;
    right: 0;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
}

nav li {
    /* top, right, bottom, left */
    margin: 0 2rem 0 0;
    list-style-type: none;
}

nav a,
nav .fetched {
    text-decoration: none;
}

nav a {
    color: gray;
}

nav .fetched {
    color: var(--color-primary);
}