@import '../core.css';

#projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#projects-list .project-card-heading,
#projects-list .project-card-details,
#projects-list .project-card-footer {
    padding: 1em;
}

#projects-list .project-card {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 5px;
    min-height: 35vh;
    max-height: 40vh;
    width: calc(100% / 3 - 1.6em);
    margin: .8em;
    box-shadow: 1px 1px 10px black;
}

#projects .project-card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primary-accent-2);
    z-index: -1;
}

#projects-list .project-card-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #11121C;
    border: 1px solid transparent;
    border-bottom-left-radius: 30px;
}

.project-card-heading .languageContainer {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 80px;
    border-bottom-left-radius: 100%;
    background-color: var(--background);
    display: flex;
    justify-content: right;
    align-items: start;
}

.project-card-heading img {
    width: 60px;
}

#projects-list .project-card-heading>h2 {
    margin: 0;
    color: var(--secondary);
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

#projects-list .project-card-details {
    margin-top: 0;
    overflow: hidden;
}

#projects-list .project-card-details p {
    color: var(--primary-accent-1);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    overflow-wrap: break-word;
}

#projects-list .project-card-footer {
    margin-top: auto;
}

#projects-list .author-img-container>img {
    width: 40px;
}

@media (orientation: portrait) {
    #projects-list>.project-card {
        border: 1px solid transparent;
        width: calc(100% / 2 - 1.6em);
    }

    #projects-list .project-card {
        min-height: 55vh;
        max-height: 65vh;
    }
}

@media (width <=900px) {
    #projects-list>.project-card {
        border: 1px solid transparent;
        width: calc(100% / 2 - 1.6em);
    }
}

@media (width <=600px) {
    #projects-list>.project-card {
        border: 1px solid transparent;
        width: 60vw;
    }
}