* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading_color: #FBF8FF;
}


body {
    font-family: "Haettenschweiler", sans-serif;
    background-color: #BAADC6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

ul {
    /* No bullet points */
    list-style-type: none;
}

.mobile {
    display: none;
}

a {
    /* Remove underscores from urls*/
    text-decoration: none;
}

.games-area > h1 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.navbar > .container > .logo {
    font-size: 100px;
}

p {
    margin: 10px 0;
    font-size: 35px;
}


/* So the images don't bust out of their container */

img {
    width: 50%;
}

.navbar {
    background-color: #231B40;
    color: #FBF8FF;
    height: 140px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--heading_color);
    padding: 10px;
    margin: 0 5px;
    transition-duration: 500ms;
    font-size: 50px;
}

.navbar a:hover {
    color: #dec396;
    transition-duration: 500ms;
}

.navbar > .faq:hover {
    transition-duration: 500ms;
}

.navbar .flex {
    justify-content: space-between;
}


/* Container for the heading, so it looks more handy. */

.container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    /* Retains to the main */
    justify-content: space-around;
    /* Retains to the cross */
    align-items: center;
    height: 100%;
}

/* Games */
.games-area {
    background: url("../assets/backgrounds/alt_background_nopentagons.png");
    background-size: auto;
    filter: drop-shadow(1px 1px 10px #8E3FD9);
    min-height: 63.5vh;
}

.games-area > h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding: 0;
    transform: translateY(10px);
    color: var(--heading_color);
}

.games {
    margin: 0 auto;
    left: 50%;
    max-width: 1000px;
}

.games > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.games > ul > li > a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 50px;
    background: #231B40;
    padding: 15px;
    width: 300px;
    height: auto;
    min-height: 300px;
    box-shadow: 2px 2px 10px 5px #8E3FD9;
    border: 1px solid #FBF8FF;
    transition-duration: 500ms;
}

.games > ul > li > a:hover {
    transition-duration: 500ms;
    background: var(--heading_color);
}

.games > ul > li > a > .extra {
    color: #231B40;
    display: none;
    transition-duration: 500ms;
}

.games > ul > li > a:hover > .extra {
    color: #472773;
    display: block;
    transition-duration: 500ms;
}

.games > ul > li > a > .details {
    color: var(--heading_color);
}

.games > ul > li > a:hover > .details {
    transition-duration: 500ms;
    color: #472773;
}

.games > ul > li > a:hover .amount-content {
    transition-duration: 500ms;
    color: black;
}

.games > .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.amount-content {
    color: #DE9F38;
}

/* Footer */

footer {
    background: #231B40;
    margin-top: auto;
}

footer > .container > section {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    flex-wrap: wrap;
}

footer > .container > section > .mail {
    margin: 40px;
}

footer > .container > section > .mail > p {
    font-size: 50px;
    color: var(--heading_color);;
}

footer > .container > section > .mail > span {
    display: flex;
    font-size: 30px;
    color: var(--heading_color);
}

footer > .container > section > .mail > span > a {
    font-size: 30px;
    color: #DE9F38;
}

footer > .container > section > .mail > span > a > img {
    height: 45px;
    width: 45px;
    transform: translateY(-5px);
}


section > span {
    font-size: 30px;
    color: #DE9F38;
}

section > img {
    width: 50%;
}

section > span > a {
    color: #DE9F38;
    transition-duration: 500ms;
}

section > span > a:hover {
    transition-duration: 500ms;
    color: #dec396;
}

@media screen and (max-width: 480px) {
    .navbar > .container > .logo {
        font-size: 40px;
    }

    .navbar {
        height: 90px;
    }

    .navbar ul {
        display: none;
    }

    .navbar a {
        color: var(--heading_color);
        padding: 10px;
        margin: 0 5px;
        transition-duration: 500ms;
        font-size: 23px;
    }

    .navbar a:hover {
        color: #dec396;
        transition-duration: 500ms;
    }

    .navbar .flex {
        justify-content: space-between;
    }


    .menu__icon {
        height: 32px;
        width: 43px;
        margin: 3%;
        position: absolute;
        top: 18px;
        right: 3%;
        display: inline-block;
        vertical-align: middle;
        z-index: 20;
    }

    .menu__icon span {
        display: block;
        background: white;
        width: 100%;
        height: 4px;
        margin-top: -2px;
        position: absolute;
        left: 0;
        top: 50%;
    }

    .menu__icon:before,
    .menu__icon:after {
        content: "";
        display: block;
        background: white;
        width: 100%;
        height: 4px;
        position: absolute;
        left: 0;
        transform-origin: center center;
        transform: rotate(0deg);
        transition: all 0.3s ease;
    }

    .menu__icon:before {
        top: 2px;
        margin-top: -2px;
    }

    .menu__icon:after {
        bottom: 2px;
        margin-bottom: -2px;
    }

    .menu_shown .menu__icon span {
        background: transparent;
    }

    .menu_shown .menu__icon:before {
        top: 50%;
        transform: rotate(45deg);
    }

    .menu_shown .menu__icon:after {
        bottom: 50%;
        transform: rotate(-45deg);
    }


    .mobile.menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        padding-top: 112px;
        background: #000000;
        z-index: 10;
        transition: all .4s ease-in-out;
        transform: translateX(100%);
    }

    .menu_shown .mobile.menu {
        transform: translateX(0);
    }

    .mobile .menu__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 25px;
        padding: 25px 0;
        color: white;
        font-size: 1.5rem;
        margin-bottom: 5px;
    }


    .games-area {
        min-height: 60vh;
        flex-direction: column;
    }

    /* Socials */
    .games-area > h1 {
        font-size: 35px;
        margin-bottom: 20px;
    }

    .games > ul > li > a {
        margin: 25px;
        padding: 5px;
        width: 100px;
        min-height: 130px;
    }


    .games > ul > li > a > img {
        width: 40px;
    }

    .games > ul > li > a > .details > p {
        font-size: 15px;
    }

    footer {
        margin-top: auto;
    }

    footer > .container > section > .mail > p {
        font-size: 35px;
    }

    footer > .container > section > .mail > span {
        font-size: 20px;
    }

    footer > .container > section > .mail > span > a > img {
        height: 35px;
        width: 35px;
        transform: translateY(-3px);
    }

}