* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --accentColor: #DE9F38;
}

body {
    font-family: "Haettenschweiler", sans-serif;
    background-color: #BAADC6;
}

ul {
    /* No bullet points */
    list-style-type: none;
}

a {
    /* Remove underscores from urls*/
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.logo {
    font-size: 50px;
}

p {
    margin: 10px 0;
}


/* So the images don't bust out of their container */

img {
    width: 100%;
}

.navbar {
    background-color: #231B40;
    color: var(--accentColor);
    height: 100px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--accentColor);
    padding: 10px;
    margin: 0 5px;
    font-size: 1.5rem;
    transition-duration: 500ms;
}

.navbar a:hover {
    color: #dec396;
    transition-duration: 500ms;
}

.navbar .flex {
    justify-content: space-between;
}


/* Container for the heading, so it looks more handy. */

.container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    /* Retains to the main */
    justify-content: space-around;
    /* Retains to the cross */
    align-items: center;
    height: 100%;
}


/* Twitch */

/* Scroll down arrows (reserved*/

/* Socials */
.socials-area {
    background: red;
}

.socials {
    padding: 0;
    margin: 0 auto;
    max-width: 1100px;
}

.socials > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.socials > ul > li {
    list-style-type: none;
    margin: 20px 80px;
    width: 15%;
}