* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading_color: #FBF8FF;
}


body {
    font-family: "Haettenschweiler", sans-serif;
    background-color: #BAADC6;
}

ul {
    /* No bullet points */
    list-style-type: none;
}

a {
    /* Remove underscores from urls*/
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.logo {
    font-size: 100px;
}

p {
    margin: 10px 0;
    font-size: 35px;
}


/* So the images don't bust out of their container */

img {
    width: 50%;
}

.navbar {
    background-color: #231B40;
    color: #FBF8FF;
    height: 140px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--heading_color);
    padding: 10px;
    margin: 0 5px;
    transition-duration: 500ms;
    font-size: 50px;
}

.navbar a:hover {
    color: #dec396;
    transition-duration: 500ms;
    text-decoration: line-through;
}

.navbar .flex {
    justify-content: space-between;
}


/* Container for the heading, so it looks more handy. */

.container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    /* Retains to the main */
    justify-content: space-around;
    /* Retains to the cross */
    align-items: center;
    height: 100%;
}

/* Twitch */
#twitch-embed {
    border-top: 1px solid #FBF8FF;
    box-shadow: 2px 2px 10px 5px #8E3FD9;
    background-color: #2c2643;
}


/* Socials */
.socials-area {
    background: #2c2643;
}

.socials-area > h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding: 0;
    color: var(--heading_color);
}

.socials {
    margin: 0 auto;
    left: 50%;
    max-width: 1500px;
}

.socials > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.socials > ul > li > a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    margin: 100px;
    background: #231B40;
    padding: 55px;
    width: 500px;
    box-shadow: 2px 2px 10px 5px #8E3FD9;
    border: 1px solid #FBF8FF;
    transition-duration: 500ms;
}

.socials > ul > li > a:hover {
    transition-duration: 500ms;
    background: var(--heading_color);
}

.socials > ul > li > a > .details {
    color: var(--heading_color);
}

.socials > ul > li > a:hover > .details {
    transition-duration: 500ms;
    color: #472773;
}

.socials > ul > li > a:hover .amount-content {
    transition-duration: 500ms;
    color: black;
}

.socials > .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.amount-content {
    color: #DE9F38;
}

/* Footer */

footer {
    background: #231B40;
}

footer > .container > section {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    flex-wrap: wrap;
}

footer > .container > section > .mail {
    margin: 40px;
}

footer > .container > section > .mail > p {
    font-size: 50px;
    color: var(--heading_color);;
}

footer > .container > section > .mail > span {
    font-size: 30px;
    color: var(--heading_color);
}

footer > .container > section > .mail > span > a {
    font-size: 30px;
    color: #DE9F38;
}


section > span {
    font-size: 30px;
    color: #DE9F38;
}

section > img {
    width: 50%;
}

section > span > a {
    color: #DE9F38;
    transition-duration: 500ms;
}

section > span > a:hover {
    transition-duration: 500ms;
    color: #dec396;
}