html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    background-image: url("../assets/JustChattingPicture.png");
    font-family: "Haettenschweiler";
}

#go {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clickHere {
    position: absolute;
    color: white;
    font-size: 500px;
    text-shadow: 1px 1px 20px #DE9F38;
    cursor: pointer;
}

#main-content {
    top: 0%;
    position: absolute;
    display: none;
    text-align: center;
    left: 40%;
    transform: translateX(-40%);
}

main {
    margin-top: 10%;
    width: 1300px;
    height: 600px;
    display: center;
}

nav ul li {
    display: inline-block;
    font-size: 70px;
    text-decoration: none;
    margin: 20px 20px 20px;
}

nav ul {
    display: flex;
    justify-content: center;
}

a {
    color: whitesmoke;
    transition-duration: 200ms;
    text-decoration: none;
}

a:hover {
    transition-duration: 200ms;
}

footer {
    position: absolute;
    left: 0;
    height: 10px;
    width: 100%;
    right: 0;
}

footer ul li {
    display: inline-block;
    font-size: 30px;
    text-decoration: none;
    margin: 20px 20px 20px;
}