* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --heading_color: #FBF8FF;
}


body {
    font-family: "Haettenschweiler", sans-serif;
    background-color: #BAADC6;
}

ul {
    /* No bullet points */
    list-style-type: none;
}

a {
    /* Remove underscores from urls*/
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.navbar > .container > .logo {
    font-size: 100px;
}


p {
    margin: 10px 0;
    font-size: 35px;
}


/* So the images don't bust out of their container */

img {
    width: 50%;
}

.navbar {
    background-color: #231B40;
    color: #FBF8FF;
    height: 140px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--heading_color);
    padding: 10px;
    margin: 0 5px;
    transition-duration: 500ms;
    font-size: 50px;
}

.navbar a:hover {
    color: #dec396;
    transition-duration: 500ms;
}

.navbar > .settings:hover {
    text-decoration: line-through;
    transition-duration: 500ms;
}

.navbar .flex {
    justify-content: space-between;
}


/* Container for the heading, so it looks more handy. */

.container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    /* Retains to the main */
    justify-content: space-around;
    /* Retains to the cross */
    align-items: center;
    height: 100%;
}

/* Specs */
.settings-area {
    background: url("../assets/backgrounds/alt_background_nopentagons.png");
    background-size: cover;
    box-shadow: 2px 2px 10px 5px #8E3FD9;
}

.settings-area > h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding-top: 20px;
    color: var(--heading_color);
}

.settings {
    margin: 0 auto;
    left: 50%;
    max-width: 1500px;
}

.settings > #about {
    width: 60px;
    height: auto;
}

.settings-area > #game-status {
    width: 300px;
    height: auto;
    margin: auto;
    text-align: center;
    display: block;
    filter: drop-shadow(1px 1px 2px black);
}

.settings > ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

/*.faq > ul > li {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    align-items: center;*/
/*    justify-content: space-evenly;*/
/*    list-style-type: none;*/
/*    margin: 50px;*/
/*    background: #231B40;*/
/*    padding: 55px;*/
/*    width: 500px;*/
/*    height: auto;*/
/*    min-height: 400px;*/
/*    box-shadow: 2px 2px 10px 5px #8E3FD9;*/
/*    border: 1px solid #FBF8FF;*/
/*    transition-duration: 500ms;*/
/*}*/

/*.faq > ul > li:hover {*/
/*    transition-duration: 500ms;*/
/*    background: var(--heading_color);*/
/*}*/

.info-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
}

.info-header-wrapper {
    margin-top: 40px;
    margin-bottom: 40px;
    filter: drop-shadow(1px 1px 5px #dd9e38);
}

.info-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: left;
    font-size: 2.5rem;
    justify-content: space-between;
    color: white;
    background-color: #231B40;
    left: 50%;
    padding: 10px;
    max-width: 1500px;
    margin-left: 5rem;
    margin-bottom: 5rem;
    clip-path: polygon(1.9% 0%, 98.5% 0%, 100% 30%, 100% 70%, 98.5% 100%, 1.9% 100%, 0% 70%, 0% 30%);
}


.info > .info-header-wrapper > .info-header > a > img {
    width: 40px;
    height: auto;
    margin-right: 2.5rem;
}

.info > .info-header-wrapper .info-header > p {
    margin-left: 2.5rem;
}

.info > .info-content {
    font-size: 1.3em;
    filter: none;
    color: white;
    margin-left: 8rem;
    margin-top: -50px;
    margin-bottom: 30px;
}

.info > .info-content > a {
    font-size: 1.1em;
    color: white;
    transition-duration: 500ms;
}

.info > .info-content > a:hover {
    font-size: 1.1em;
    color: #dd9e38;
}


/*.faq > ul > li > .details {*/
/*    color: var(--heading_color);*/
/*}*/

/*.faq > ul > li:hover > .details {*/
/*    transition-duration: 500ms;*/
/*    color: #472773;*/
/*}*/

/*.faq > ul > li:hover .amount-content {*/
/*    transition-duration: 500ms;*/
/*    color: black;*/
/*}*/

/*.faq > .details {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.amount-content {*/
/*    color: #DE9F38;*/
/*}*/

/* Footer */

footer {
    background: #231B40;
}

footer > .container > section {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    flex-wrap: wrap;
}

footer > .container > section > .mail {
    margin: 40px;
}

footer > .container > section > .mail > p {
    font-size: 50px;
    color: var(--heading_color);;
}

footer > .container > section > .mail > span {
    font-size: 30px;
    color: var(--heading_color);
}

footer > .container > section > .mail > span > a {
    font-size: 30px;
    color: #DE9F38;
}

footer > .container > section > .mail > span > a > img {
    height: 45px;
    width: 45px;
    transform: translateY(12px);
}

section > span {
    font-size: 30px;
    color: #DE9F38;
}

section > img {
    width: 50%;
}

section > span > a {
    color: #DE9F38;
    transition-duration: 500ms;
}

section > span > a:hover {
    transition-duration: 500ms;
    color: #dec396;
}

@media screen and (max-width: 400px) {
    .navbar > .container > .logo {
        font-size: 40px;
    }

    .navbar {
        height: 90px;
    }

    .navbar ul {
        display: flex;
    }

    .navbar a {
        color: var(--heading_color);
        padding: 10px;
        margin: 0 5px;
        transition-duration: 500ms;
        font-size: 23px;
    }

    .navbar a:hover {
        color: #dec396;
        transition-duration: 500ms;
        text-decoration: line-through;
    }

    .navbar .flex {
        justify-content: space-between;
    }

    .settings-area {
        padding-bottom: 40px;
    }

    /* Socials */
    .settings-area > h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    .info > .info-header-wrapper .info-header > p {
        margin-left: 1.2rem;
    }

    .info-header {
        clip-path: polygon(7% 0%, 94% 0%, 100% 30%, 100% 70%, 94% 100%, 7% 100%, 0% 70%, 0% 30%);
    }

    .settings-area > .settings > #about {
        width: 30px;
        margin-left: 25px;
    }

    .settings-area > #game-status {
        width: 210px;
    }

    .info-wrapper {
        margin-left: -50px;
        margin-right: 30px;
    }

    .settings > ul > li > a {
        margin: 20px;
        padding: 20px;
        width: 300px;
    }

    .settings > ul > li > a > .details > p {
        font-size: 25px;
    }

    footer > .container > section > .mail > p {
        font-size: 40px;
    }

    footer > .container > section > .mail > span {
        font-size: 20px;
    }

    footer > .container > section > .mail > span {
        font-size: 25px;
    }

    footer > .container > section > .mail > span > a {
        font-size: 25px;
    }

}