* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --heading_color: #FBF8FF;
}


body {
    font-family: "Haettenschweiler", sans-serif;
    background-color: #BAADC6;
}

ul {
    /* No bullet points */
    list-style-type: none;
}

a {
    /* Remove underscores from urls*/
    text-decoration: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.navbar > .container > .logo {
    font-size: 100px;
}

p {
    margin: 10px 0;
    font-size: 35px;
}


/* So the images don't bust out of their container */

img {
    width: 50%;
}

.navbar {
    background-color: #231B40;
    color: #FBF8FF;
    height: 140px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--heading_color);
    padding: 10px;
    margin: 0 5px;
    transition-duration: 500ms;
    font-size: 50px;
}

.navbar a:hover {
    color: #dec396;
    transition-duration: 500ms;
}

.navbar > .faq:hover {
    text-decoration: line-through;
    transition-duration: 500ms;
}

.navbar .flex {
    justify-content: space-between;
}


/* Container for the heading, so it looks more handy. */

.container {
    max-width: 1500px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    /* Retains to the main */
    justify-content: space-around;
    /* Retains to the cross */
    align-items: center;
    height: 100%;
}

/* Specs */
.specs-area {
    background: url("../assets/alt_background_nopentagons.png");
    background-size: cover;
    filter: drop-shadow(1px 1px 10px #8E3FD9);

}

.specs-area > h1 {
    text-align: center;
    font-size: 80px;
    margin: 0;
    padding-top: 20px;
    color: var(--heading_color);
}

#peripherals-wrap {
    margin-top: 40px;
    margin-bottom: 40px;
    filter: drop-shadow(1px 1px 5px #dd9e38);
}

#peripherals {
    font-size: 2.5rem;
    color: white;
    background-color: #231B40;
    left: 50%;
    padding: 10px;
    max-width: 1500px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    clip-path: polygon(15% 0%, 85% 0%, 100% 30%, 100% 70%, 85% 100%, 15% 100%, 0% 70%, 0% 30%);
}

.specs {
    margin: 0 auto;
    left: 50%;
    max-width: 1500px;
}

.specs > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.specs > ul > li > a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 50px;
    background: #231B40;
    padding: 55px;
    width: 500px;
    height: auto;
    min-height: 400px;
    box-shadow: 2px 2px 10px 5px #8E3FD9;
    border: 1px solid #FBF8FF;
    transition-duration: 500ms;
}

.specs > ul > li > a:hover {
    transition-duration: 500ms;
    background: var(--heading_color);
}

.specs > ul > li > a > .details {
    color: var(--heading_color);
}

.specs > ul > li > a:hover > .details {
    transition-duration: 500ms;
    color: #472773;
}

.specs > ul > li > a:hover .amount-content {
    transition-duration: 500ms;
    color: black;
}

.specs > .details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.amount-content {
    color: #DE9F38;
}

/* Footer */

footer {
    background: #231B40;
}

footer > .container > section {
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    flex-wrap: wrap;
}

footer > .container > section > .mail {
    margin: 40px;
}

footer > .container > section > .mail > p {
    font-size: 50px;
    color: var(--heading_color);;
}

footer > .container > section > .mail > span {
    font-size: 30px;
    color: var(--heading_color);
}

footer > .container > section > .mail > span > a {
    font-size: 30px;
    color: #DE9F38;
}


section > span {
    font-size: 30px;
    color: #DE9F38;
}

section > img {
    width: 50%;
}

section > span > a {
    color: #DE9F38;
    transition-duration: 500ms;
}

section > span > a:hover {
    transition-duration: 500ms;
    color: #dec396;
}

@media screen and (max-width: 400px) {
    .navbar > .container > .logo {
        font-size: 40px;
    }

    .navbar {
        height: 90px;
    }

    .navbar ul {
        display: flex;
    }

    .navbar a {
        color: var(--heading_color);
        padding: 10px;
        margin: 0 5px;
        transition-duration: 500ms;
        font-size: 23px;
    }

    .navbar a:hover {
        color: #dec396;
        transition-duration: 500ms;
        text-decoration: line-through;
    }

    .navbar .flex {
        justify-content: space-between;
    }

    .specs-area {
        padding-bottom: 40px;
    }

    /* Socials */
    .specs-area > h1 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    #peripherals {
        font-size: 40px;
    }

    .specs > ul > li > a {
        margin: 20px;
        padding: 10px;
        width: 300px;
    }

    .specs > ul > li > a > .details > p {
        font-size: 25px;
    }

    footer > .container > section > .mail > p {
        font-size: 40px;
    }

    footer > .container > section > .mail > span {
        font-size: 20px;
    }

    footer > .container > section > .mail > span {
        font-size: 25px;
    }

    footer > .container > section > .mail > span > a {
        font-size: 25px;
    }

}