@import "../styles/core.css";

html,
body {
    height: 100vh;
    scroll-snap-type: y mandatory;
}

section {
    padding: 10% 15%;
    height: 100vh;
    scroll-snap-align: start;
    position: relative;
}

/* Navbar Styling */

nav {
    position: fixed;
    z-index: 1;
    right: 0;
    width: max-content;
    top: 50%;
    transform: translateY(-50%);
}

nav>ul>li {
    /* top, right, bottom, left */
    margin: 0 2rem 0 0;
    list-style-type: none;
}

nav>ul>li>a {
    text-decoration: none;
    color: var(--color-tertiary);
}

/* Project cards styling */