#project-nav-link {
    font-variant: small-caps;
}

#project-nav-link:hover {
    color: var(--secondary);
}

#projects-list a {
    position: relative;
    opacity: 0;
    transform: translateX(-100%);
}

#projects-list a.animate {
    animation: slideInFromLeft 1s cubic-bezier(0.52, 0.17, 0, 0.99) forwards;
}

#projects-list li {
    color: var(--primary);
    font-size: .85em;
    font-weight: 500;
}

/* Projects summary */

#projects-summary {
    margin: 4em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 2fr));
    justify-content: space-between;
    max-width: 80%;
    column-gap: 2em;
    row-gap: 2em;
}

#projects-summary .language {
    display: flex;
    flex-direction: column;
    background: var(--primary);
    padding: 1.1em;
    text-align: center;
    gap: 1.1rem;
    clip-path: polygon(10% 5%, 90% 5%, 95% 15%, 95% 85%, 90% 95%, 10% 95%, 5% 85%, 5% 15%);
}

#projects-summary .language-name {
    font-size: 2rem;
    font-weight: bold;
}

#projects-summary .language-share {
    font-size: 1.2em;
}