:root {
    --primary: #231b40;
    --primary-2: #7a36d9;
    --secondary: #f29d35;
    --secondary-2: #efb978;
    --tertiary: #e7dcf2;
    --tertiary-2: #0c0915;
}

html {
    scroll-behavior: smooth;
}

.mobile-menu {
    display: none;
}

body {
    font-family: "Montserrat", sans-serif;
    color: var(--secondary);
    font-size: 1.25rem;
    line-height: 150%;
    margin: 0;
    font-variant: small-caps;
}

h1 {
    font-size: 6rem;
    font-weight: 700;
    margin: 0;
    margin-bottom: .6em;
    font-variant: small-caps;
}

.subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 1rem;
}

/* Navbar */

nav {
    font-size: 1.2em;
    position: fixed;
    top: -10px;
    left: -10px;
}

li {
    list-style-type: none;
    font-variant: small-caps;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 7px;
}

nav a {
    transition: all 0.3s cubic-bezier(0.52, 0.17, 0, 0.99) forwards;
    position: relative;
    left: 0;
    display: flex;
    align-items: center;
}

nav .prefix {
    align-items: center;
    display: inline-flex;
    background: var(--tertiary);
    width: 40px;
    height: 2px;
    margin-right: 15px;
    transition: all 0.3s ease-in-out;
}

nav a:hover li {
    left: 15px;
}

nav a:hover .prefix {
    transition-duration: 100ms;
    width: 49px;
}

nav a {
    transition-duration: 100ms;
}

nav a.active {
    left: 15px;
}


a {
    text-decoration: none;
    color: var(--tertiary);
}
