@import url("animations/animations.css");
@import url("defaults/core.css");
@import url("dynamic/projects.css");

:root {
  --primary: #231b40;
  --primary-2: #7a36d9;
  --secondary: #f29d35;
  --secondary-2: #efb978;
  --tertiary: #e7dcf2;
  --tertiary-2: #0c0915;
}

.container {
  min-height: 100vh;
}

#intro-wrapper section {
  padding-top: 30em;
  padding-left: 15em;
}

.container section {
  padding-top: 8em;
  padding-left: 15em;
  border: 1px solid red;
}

.container.lighter {
  background-color: var(--tertiary);
}

.container.lighter h1 {
  color: var(--primary); 
}

.container.lighter h5 {
  color: var(--tertiary-2);
}

.container.darker {
  background-color: var(--tertiary-2);
}

@media screen and (max-width: 768px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 100;
    background-color: var(--tertiary-2);
    width: 100%;
    height: 100%;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: transform 0.3s cubic-bezier(0.52, 0.17, 0, 0.99);
  }

  .hamburger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: red;
  }

  .mobile-menu .menu-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .mobile-menu .close-hamburger-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: green;
  }

  .mobile-menu.open {
    transform: translateX(0);
  }

  .mobile-menu ul {
    padding: 0;
    width: 100%;
  }

  .mobile-menu li {
    list-style: none;
    margin: .5rem 0;
    padding: 1.2rem 0;
    text-align: center;
    transition-duration: 300ms;
  }

  .mobile-menu .menu-items a:hover li {
    background-color: var(--tertiary);
  }


  nav {
    display: none;
  }

  .mobile-menu .hide {
    display: none;
  }

  .container section {
    /* padding: 11em 5em; */
    border: 1px solid red;
  }
}