:root {
  --primary: #231b40;
  --primary-2: #7a36d9;
  --secondary: #f29d35;
  --secondary-2: #efb978;
  --tertiary: #e7dcf2;
  --tertiary-2: #0c0915;
}

html {
  scroll-behavior: smooth;
}

.mobile-menu {
  display: none;
}

body {
  background-color: var(--tertiary-2);
  font-family: "Montserrat", sans-serif;
  color: var(--secondary);
  font-size: 1.25rem;
  line-height: 150%;
  margin: 0;
}

/* Navbar */

nav {
  position: fixed;
  top: 38px;
  left: 51px;
}

nav li {
  list-style-type: none;
  font-variant: small-caps;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 7px;
  font-size: 23.36px;
}

nav a {
  transition: all 0.3s ease-in-out;
  position: relative;
  left: 0;
  display: flex;
  align-items: center;
}

nav .prefix {
  align-items: center;
  display: inline-flex;
  background: var(--tertiary);
  width: 40px;
  height: 2px;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
}

nav a:hover li {
  left: 15px;
}

nav a:hover .prefix {
  transition-duration: 100ms;
  width: 49px;
}

/* Headers */

.subtitle {
  position: relative;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: var(--secondary-2);
  font-variant: small-caps;
}

h1 {
  font-variant: small-caps;
  font-style: italic;
  font-size: 6rem;
}

h5 {
  font-size: 1.625rem;
  font-weight: 500;
  font-style: italic;
  margin: 0;
  position: relative;
  top: 126px;
}

/* Core */

a {
  text-decoration: none;
  color: var(--tertiary);
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

/* Intro */

.lighter h1 {
  color: var(--tertiary-2);
}

.lighter h5 {
  color: var(--tertiary-2);
}

.intro-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Projects */

#projects-wrapper {
  height: 100vh;
  background-color: var(--tertiary);
}

#projects-wrapper > .projects-container > h1 {
  color: var(--tertiary-2);
  position: relative;
  top: 126px;
}

.projects-container > .header h5 {
  color: var(--tertiary-2);
  position: relative;
  top: 126px;
}

/* Currently working on */

.current-project {
  position: relative;
  width: 1236px;
  height: 454px;
  top: 126px;
  background: var(--tertiary-2);
}

/* Contact */

#contact-wrapper {
  height: 100vh;
  background-color: var(--tertiary-2);
}

#contact-wrapper > .contact-container h1 {
  color: var(--secondary);
  position: relative;
  top: 126px;
}

.contact-container h5 {
  color: var(--secondary-2);
  position: relative;
  top: 126px;
}

@media screen and (max-width: 768px) {
  /* Hamburger menu */

  .mobile-menu {
    display: flex;
    justify-content: right;
    position: relative;
    margin: 2rem 2rem;
  }

  .mobile-menu .hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .mobile-menu .hamburger .hamburger-menu-line {
    width: 40px;
    height: 3px;
    background-color: var(--secondary);
    transition: all 0.3s ease-in-out;
  }

  .mobile-menu .menu-items {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    height: 100vh;
    background-color: var(--tertiary-2);
    transform: translateX(-100%);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .mobile-menu .menu-items.open {
    transform: translateX(0);
  }

  .mobile-menu .menu-items ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu .menu-items li {
    list-style-type: none;
    font-variant: small-caps;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 7px;
    font-size: 23.36px;
  }

  .mobile-menu .menu-items .close-hamburger {
    position: fixed;
    top: 6%;
    left: 81%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
  }

  .mobile-menu .close-mobile-menu {
    width: 40px;
    height: 3px;
    background-color: var(--secondary);
    transition: all 0.3s ease-in-out;
  }

  .mobile-menu .close-hamburger .close-mobile-menu:nth-child(1) {
    transform: rotate(45deg) translate(10px, 10px);
  }

  .mobile-menu .close-hamburger .close-mobile-menu:nth-child(2) {
    transform: rotate(-45deg) translate(10px, -10px);
  }

  .mobile-menu .close-hamburger .close-mobile-menu:nth-child(3) {
    display: none;
  }

  nav {
    display: none;
  }

  section {
    max-width: 90vw;
  }

  /* Intro */

  .intro-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #intro-wrapper h1 {
    font-size: 2.9rem;
    line-height: 1.1em;
  }

  #intro-wrapper .subtitle {
    font-size: 1em;
  }

  /* Projects */

  #projects-wrapper > .projects-container > h1 {
    font-size: 2.9rem;
  }

  #projects-wrapper h5 {
    font-size: 1em;
  }

  /* Currently working on */

  .current-project {
    width: 90vw;
    height: 40vh;
  }

  /* Contact */

  #contact-wrapper > .contact-container h1 {
    font-size: 2.9rem;
  }

  #contact-wrapper h5 {
    font-size: 1em;
  }

  /* Footer */

  footer {
    height: 100px;
  }

  footer .footer-container {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
